<h2>Trading Floor</h2>

<div class="balance_div">
    <p class="cash_balance_p"> <em>Cash Balance: </em> $ <%= cash_balance.round(2) %></p>
    <p class="bitcoin_balance_p"> <em>Bitcoin Balance: </em> BTC <%= bitcoin_balance.round(8) %></p>
    <p class="combined_value_p"> <em>Combined Value: </em> $ <%= combined_value.round(2) %></p>
</div>

<div class="orders_div">
    <% # hidden input "purchase" used to determine if purchase or sale %>
    <form action="/trade" method="post">
        <label for="" class="here" >purchase amount: </label>
        <input type="text" name="trade_amount">
        <input type="hidden" name="purchase"> 
        <button>execute purchase</button>
    </form>

    <form action="/trade" method="post">
        <label for="">sale amount: </label>
        <input type="text" name="trade_amount">
        <button>execute sale</button>
    </form>
</div>

<div class="chart_widget_div">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
    <div id="tradingview_e93f4"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCAUD/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">BTCAUD Chart</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "width": 600,
    "height": 373,
    "symbol": "BINANCE:BTCAUD",
    "interval": "D",
    "timezone": "Australia/Sydney",
    "theme": "dark",
    "style": "1",
    "locale": "en",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_e93f4"
    }
    );
    </script>
    </div>
    <!-- TradingView Widget END -->
</div>


