<h2>login</h2>

<form action="/sessions" method="post">

  <label for="email">email</label>
  <input type="email" name="email">

  <label for="">password</label>
  <input type="password" name="password">

  <button>login</button>
</form>