<h2>Create New User Account</h2>

<form action="/users" method="post">

    <label for="">First name:</label>
    <input type="text" name="first_name">

    <label for="">Last name: </label>
    <input type="text" name="last_name">

    <label for="">Email: </label>
    <input type="text" name="email">

    <label for="">Password: </label>
    <input type="text" name="password">

    <button>Create Account</button>
</form>