
/* .container_section {
    margin: auto;
    width: 80%;
} */

.yield_div {
    margin: auto;
    width: 80%;
}

.menu_bar_section {
    border-bottom: 1px solid black;
}
/* nav {
    border-bottom: 1px solid black;
} */
/*
nav a, nav div, .nav_btn, .nav_form {
    display: inline;
} */


nav, .user_profile_options_div, .nav_form, .user_profile_options_div p{
    display: inline;
}

.user_profile_options_div {
    position: absolute;
    right: 8px;
}

.nav_btn {
    position: relative;
    bottom: 4px;
    
}
.page_title_h1 {
    text-align: center;
    font-size: 300%;
    margin: 0;
}

.chart_widget_div {
    margin-top: 1%
}


.blue-text {
    font-size: 90%
}
